.SmallerPage{
    -webkit-transform:scale(0.67);
    -moz-transform:scale(0.67);
    -ms-transform:scale(0.67);
    transform:scale(0.67);
    -ms-transform-origin:0 0;
    -webkit-transform-origin:0 0;
    -moz-transform-origin:0 0;
    transform-origin:0 0;}

h1 {
    color: #4996c5;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font: weight 2500px;
    font-size: 50px;
    
}
h2 {
    color: black;
}
h4 {
    color: #4996c5;
}
html{
    background-color:black;
    width: 750px;
    height: 600px;
}
.box{
    background: #f0ece4;
    width: 750px;
    height: 600px;
    border: 1px white
    }
